@charset "utf-8";

.Wrapper {width: 100vw; background: #f9f9f9; overflow-x: hidden;}
.Wrapper::-webkit-scrollbar {width: 0;}

/* 헤더 스타일 */
.header {position: relative; width: 100vw; height: 38vh; min-height: 327px; padding: 50px 20px 0; background: url(../images/moon.png) no-repeat top center; background-size: cover;}
.title-area {position: relative; display: flex; justify-content: space-between; align-items: center;}
.title h1 {position: relative; font-size: 20px; font-weight: 800; color: #fff;}
.title h1::after {position: absolute; left: 0; bottom: -10px; width: 100%; height: 3px; background-color: var(--main-color1); display: block; content: "";}
.tips {display: flex; align-items: center; justify-content: center; width: 59px; height: 32px; font-size: 12px; font-weight: 600; border-radius: 16px; background-color: var(--main-color1); z-index: 11;}
.tipbox {display: block; position: absolute; right: 0; top: -222px; background: #222; color: #fff; font-weight: 400; font-size: 14px; padding: 20px; line-height: 24px; border-radius: 20px; z-index: 10;}
.tipbox::after {display: block; content: ""; position: absolute; width: 0; height: 0; border-bottom: 16px solid #222; border-left: 10px solid transparent; border-right: 10px solid transparent; right: 19px; top: -16px;}
.sub-title-area {display: flex; flex-direction: column; justify-content: flex-start; margin: 45px 0; color: #fff;}
.sub-title-area p {font-size: 12px; font-weight: 200;}
.sub-title-area p:last-child {margin-top: 20px;}
.sub-title-area h1 {font-size: 28px; font-weight: 600; margin-top: 10px;}
.searchbox {position: absolute; width: 100%; bottom: -24px; z-index: 100;}
.searchbox input {width: calc(100% - 40px); height: 49px; padding: 0 50px 0 20px; background: #f9f9f9; border: 1px solid #ebebeb; border-radius: 24.5px; cursor: pointer;}
.searchbox input:focus {border: 2px solid #222; box-shadow: 0 0 4px #ddd; background: #fff; outline: none;}
.searchbox input::placeholder {color: #aaa;}
.btn-search {position: absolute; width: 26px; height: 26px; right: 54px; bottom: 12px; background: url(../images/ic_search.svg) no-repeat; background-size: contain;}
.img-dante {position: absolute; right: 0; bottom: 0; width: 210px; height: 226px; background: url(../images/dante.png) no-repeat bottom left; background-size: contain;}

@media (min-width: 500px) { 
    .Wrapper {width: 500px; margin: 0 auto;}
    .header {width: 100%; height: 445px; padding: 65px 30px 0;}
    .title h1 {font-size: 26px;}
    .title h1::after {bottom: -12px; height: 4px;}
    .tips {width: 76px; height: 41px; font-size: 15px; border-radius: 21px;}
    .sub-title-area {margin: 65px 0;}
    .sub-title-area p {font-size: 15px;}
    .sub-title-area p:last-child {margin-top: 26px;}
    .sub-title-area h1 {margin-top: 12px; font-size: 36px;}
    .img-dante {width: 273px; height: 304px; right: 6px;}
    .searchbox {bottom: -30px;}
    .searchbox input {height: 62px; border-radius: 31px;}
    .btn-search {width: 30px; height: 30px; right: 60px; bottom: 17px;}
}
@media (min-height: 1080px) {
    .Wrapper {height: 1080px;}
}
@media (max-height: 1081px) {
    .Wrapper {height: 100vh;}
}

/* 메인컨텐츠 스타일 */
.result-area {padding-top: 35px; background: #f9f9f9; position: sticky; top: 0;}
.category {display: flex; overflow-x: auto; padding: 0 20px;}
.category::-webkit-scrollbar {width: 0;}
.category li {display: flex; flex: 1 0 auto; align-items: center; justify-content: center; margin-right: 8px; font-size: 14px; border-radius: 17px; background: #fff; border: 1px solid #ebebeb;}
.category li a {display: block; width: 100%; padding: 8px 15px;}
.category li:last-child {margin-right: 0;}
.category li.is-active {background: #222; color: #fff; border: 1px solid #222;}
.result-title {font-size: 16px; margin: 10px 20px; font-weight: 600;}
.result-wrap {display: flex; flex-direction: column;}
.result-wrap::-webkit-scrollbar {width: 0px;}
.result-card {display: flex; align-items: center; width: 100%; height: 84px; background: #fff; padding: 6px 0; margin-top: 6px;}
.result-card:first-child {margin-top: 0;}
.category-icon {width: 36px; height: 36px; margin: 27px;}
.category-icon.fish {background: url(../images/ic_fish.svg) no-repeat center center; background-size: contain;}
.category-icon.vegitable {background: url(../images/ic_vegetable.svg) no-repeat center center; background-size: contain;}
.category-icon.fruit {background: url(../images/ic_fruit.svg) no-repeat center center; background-size: contain;}
.category-icon.meat {background: url(../images/ic_meat.svg) no-repeat center center; background-size: contain;}
.category-icon.dairy {background: url(../images/ic_dairy.svg) no-repeat center center; background-size: contain;}
.category-icon.grain {background: url(../images/ic_grain.svg) no-repeat center center; background-size: contain;}
.category-icon.etc {background: url(../images/ic_etc.svg) no-repeat center center; background-size: contain;}
.result-data {display: flex; width: calc(100% - 206px); justify-content: flex-start; flex-direction: column; font-size: 12px;}
.result-data p span {font-weight: 600; margin-left: 8px;}
.food-name {font-size: 16px; margin-bottom: 9px; font-weight: 600;}
.allergy-value1 {margin-bottom: 4px;}
.mark {display: flex; align-items: center; justify-content: center; width: 64px; margin: 35.5px 24px; height: 24px; font-size: 12px; border-radius: 12px; background: var(--point-color2); color: var(--point-color1);}

@media (min-width: 500px) { 
    .result-area {padding-top: 45px;}
    .category li {border-radius: 21px; font-size: 18px;}
    .category li a {padding: 10px 19px;}
    .result-title {font-size: 20px; margin-bottom: 16px;}
    .result-card {height: 106px;}
    .category-icon {width: 48px; height: 48px;}
    .result-data {font-size: 14px;}
    .food-name {font-size: 20px;}
    .mark {width: 82px; height: 30px; font-size: 14px; border-radius: 15px;}
}

/*Animation Style*/
.move-bounce {    
    -webkit-animation: move-bounce .5s linear both;
	        animation: move-bounce .5s linear both;
}
@-webkit-keyframes move-bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(280px);
                transform: translateY(280px);
    }
    70% {
        -webkit-transform: translateY(260px);
                transform: translateY(260px);
    }
    100% {
      -webkit-transform: translateY(270px);
              transform: translateY(270px);
    }
  }
  @keyframes move-bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(280px);
                transform: translateY(280px);
    }
    70% {
        -webkit-transform: translateY(260px);
                transform: translateY(260px);
    }
    100% {
      -webkit-transform: translateY(270px);
              transform: translateY(270px);
    }
  }
